.nouvelArticle {
    flex: 4;
    margin-left: 10px;
  }
  .nouvelArticleForm {
    display: flex;
    flex-wrap: wrap;
  }
.nouvelArticleItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  .nouvelArticleItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  .nouvelArticleItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .nouvelArticleSexe > input {
    margin-top: 15px;
    margin-left: 70px;
  }
  .nouvelArticleSexe>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}
.NouvelArticleButton{
  width: 90px;
  height: 50px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  
  margin-left: 750px;
 }
.newArticleSelect{
    height: 40px;
    border-radius: 5px;
  }
  .addProductItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  

.addProductItemm {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

