.userlist{
    flex: 4;
    margin-bottom: 65px;
    margin-left: 10px;
}
.userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.userListSetting{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.userListDelete{
  padding: 20px;
  cursor: pointer;
}
.userAddButton{
  width: 70px;
  border: none;
  padding: 10px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 999px;
  margin-block-end: -40px;

}